.page
  .wrap
    %h1#status Loading...

  #body

  #apps.wrap

  .wrap{:style => 'margin-top: 20px'}
    %ul
      %li= link_to 'Powify.dev on github', 'https://github.com/sethvargo/powify.dev'

:javascript
  $(function() {
    $.ajax({
      url : '#{proxy_url(:format => :json)}',
      type : 'GET',
      success : function(data, status, xhr) {
        changeIcon('ok');
        setTitle('Pow is running');
        addStatus(data.status);
        addConfig(data.config);
        addApps(data.apps);
      },
      error : function(data, status, xhr) {
        changeIcon('err');
        setTitle('Pow is not running');
      }
    });
  });

  function changeIcon(newIcon) {
    $('#status').addClass(newIcon);
  }

  function setTitle(newTitle) {
    $('#status').html(newTitle);
  }

  function addStatus(statusJSON) {
    var $status = $('<div id="status" class="none"></div>');
    var $preStatus = $('<pre id="pre-status" class="breakout"></pre>');
      $preStatus.html('<h2>Server Status</h2>');

    $.each(statusJSON, function(key, value) {
      $preStatus.append('<strong>'+key+'</strong>: '+value);
      $preStatus.append('\n');
    });

    $status.append($preStatus);
    $('#body').append($status);
    $status.slideDown('slow');
  }

  function addConfig(configJSON) {
    var $config = $('<div id="config" class="none"></div>');
    var $preConfig = $('<pre id="pre-config" class="breakout"></pre>');
      $preConfig.html('<h2>Server Config</h2>');

    $.each(configJSON, function(key, value) {
      $preConfig.append('<strong>'+key+'</strong>: '+value);
      $preConfig.append('\n');
    });

    $config.append($preConfig);
    $('#body').append($config);
    $config.slideDown('slow');
  }

  function addApps(appsJSON) {
    var $apps = $('<div id="apps" class="none"></div>');
    var $preApps = $('<pre id="pre-apps" class="breakout"></pre>');
      $preApps.html('<h2>My Apps</h2>');

    $.each(appsJSON, function(app, data) {
      buildApp(app, data, $preApps);
    });

    $apps.append($preApps);
    $('#body').append($apps);
    $apps.slideDown('slow');
  }

  function buildApp(app, data, target) {
    var $app = $('<a href="#">'+app+'</a><br />');
    var $infoDiv = $('<div class="none" style="padding:0 0 20px 20px;"></div>');

    if(data == null || typeof(data) == "undefined") {
      $infoDiv.append('No data');
    } else {
      $.each(data, function(key, value) {
        recurseData($infoDiv, key, value, 1);
      });
    }

    $app.click(function() {
      $infoDiv.slideToggle('fast');
      return false;
    });

    target.append($app);
    target.append($infoDiv);
  }

  function recurseData(infoDiv, key, value, depth) {
    if(typeof(value) == "object") {
      infoDiv.append('<strong style="font-style:italic;">'+key+'</strong>: ');
      infoDiv.append('<br />');
      $.each(value, function(k, v) {
        recurseData(infoDiv, k, v, depth+1);
      });
    } else {
      infoDiv.append('<strong style="padding-left:'+(10*depth)+'px">'+key+'</strong>: ');
      infoDiv.append(value);
      infoDiv.append('<br />');
    }
  }